.transaction{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 90%;
	margin: auto;

}
.transaction th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.transaction td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
.transaction tbody tr:nth-child(odd){
	background: #fff;
}
.transaction tbody tr:nth-child(even){
	background: #F7F7F7;
}